html, body {
    min-width: 280px;
}

.find {
    text-align: center;
    background-color: $color-form;
    padding: 10px;
    box-shadow: inset 0 5px 3px -3px darken($color-form,15%);
    * {
        font: 600 1rem 'Roboto';
    }
    input {
        border: none;
        padding: 0.5em;
        background-color: $color-form;
        color: $color-footer;
        &:focus {
            outline: none;
        }
    }
    button {
        border: none;
        color: $color-footer;
        margin-left: 2.5rem;
    }
}
input[type=search]::-ms-clear {display: none; width : 0; height: 0;}
input[type=search]::-ms-reveal {display: none; width : 0; height: 0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none;}


.introduction {
    text-align: center;
    background-color: $color-bg;
    padding: 3em 4vw;
    @include media-query(large) {
        display: block;
        flex-flow: column;
        text-align: left;
    }  
    &__byline {
        margin: 2.2em 0;
        font-weight: 300;
    }
 
}

.directions {
    padding: 3em 4vw 4em 4vw;
    &__heading {
        padding-bottom: 1.2rem;
    }
    &__directions {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        gap: 20px;
        padding-left: 15px;
        align-items: center;
        justify-content: space-between;
        @include media-query(large) {
            flex-flow: row;
            //justify-content: space-around;
            padding-left: 0;
        }
    }
    &__links {
        max-width: 450px;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        background-color: $color-bg;
        @include shadow-drop;
        position: relative;
        display: block;
        i {
            color: $color-icon;
            width: 50px;
            padding-left: 10px;
        }
        span {
            background-color: $color-primary;
            color: $color-white;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -15px;
            right: 0;
            top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover, &--active {
            background-color: $color-10;
            i {
                color: $color-primary;
            }
        }
        @include media-query(large) {
            text-align: center;
            span {
                left: 45%;
                right: 0;
                top: -25%;
            }
        }
    }
}


.wrapper {
    background-color: $color-bg;
    padding: 3em 4vw;
    &__heading {
        padding-bottom: 1.2rem;
    }
}
.restaurant-grid {
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include media-query(medium) {
        flex-flow: row wrap;
    }
}
.restaurant-card {
    width: 100%;
    max-width: 450px;
    $self: &;
    @include shadow-box;
    border-radius: 15px;
    &:hover {
        #{$self}__media {
            opacity: 0.9;
        }
    }
    &__media {
        width: 100%;
        position: relative;
    }
    &__image {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 /0.52;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__media-content {
        background-color: $color-tertiary;
        color: $color-9;
        border-radius: 3px;
        padding: 5px 25px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &__primary {
        width: 100%;
        background-color: $color-white;
        border-radius: 0 0 15px 15px;
        position: relative;
        padding: 0.8rem;
    }
    position: relative;
    &__actions {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
    &__byline {
        font-weight: 300;
    }
}

@media screen and (min-width:320px) and (max-width:767px){
    .restaurant-card {
        flex: 1 1 auto;
        min-width: 100%;
        justify-content: center;
    }
}
@media screen and (min-width:768px) and (max-width:1502px){
    .restaurant-card {
        flex: 1 1 calc(50% - 1em);
        min-width: calc(50% - 1em);
        //flex-basis: 100%;
        //min-width: 50%;
        //justify-content: center;
    }

}
@media screen and (max-width:849px) {
    .directions__links {
        min-width: 100%;
    }
}
@media screen and (min-width:1503px){
    .restaurant-card {
        flex: 1 1 calc(25% - 1em);
        min-width: calc(25% - 1em);
    }
    .directions__links {
        min-width: 33%;
    }
}

